* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Pretendard, sans-serif;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('/woff2/PretendardVariable.woff2') format('woff2-variations');
}

body {
    font-family: 'Pretendard', sans-serif;
    background-color: #000000; 
    color: #004cff;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh; 
        overflow: hidden;
        text-align: center; 
}

.rotate {
    animation: scrollDown 10s linear infinite,changeWeight 4s ease-in-out infinite;
    text-align: center;
    white-space: nowrap;
    margin: 0;
    font-size: 3.5rem;
    font-weight: 999;
    letter-spacing: -0.13em;
    margin-bottom: 20px;

}

.rotate span {
            display: inline-block;
            font-weight: 400;
            transition: font-weight 0.3s ease-in-out;
        }

.clr-picker {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
